# NESLAB RTE-111 Refrigerated Bath/Circulators Digital Controller
# Huijuan 21-MAR-2019 

# Read internal temperature
record(ai, "$(Sys)$(Dev)T:I-I") {
  field(DESC, "Internal T")
  field(DTYP, "stream")
  field(INP,  "@Neslab_rte.proto read_internal_T $(PORT)")
  field(PREC, "1")
  field(EGU,  "C")
  field(ASLO, "0.1")
}

# Read external sensor
record(ai, "$(Sys)$(Dev)T:O-I") {
  field(DESC, "External Sensor T")
  field(DTYP, "stream")
  field(INP,  "@Neslab_rte.proto read_external_T $(PORT)")
  field(PREC, "1")
  field(EGU,  "1")
  field(ASLO, "0.1")
}

# Read control setpoint
record(ai, "$(Sys)$(Dev)T:SP-RB") {
  field(DESC, "Read Setpoint")
  field(DTYP, "stream")
  field(INP,  "@Neslab_rte.proto read_ctrl_SP $(PORT)")
  field(PREC, "1")
  field(EGU,  "C")
  field(ASLO, "0.1")
}

# Read low temperature limit
record(ai, "$(Sys)$(Dev)T:Lo-RB") {
  field(DESC, "Read Low T Limit")
  field(DTYP, "stream")
  field(INP,  "@Neslab_rte.proto read_T_low $(PORT)")
  field(PREC, "1")
  field(EGU,  "C")
  field(ASLO, "0.1")
}

# Read high temperature limit
record(ai, "$(Sys)$(Dev)T:Hi-RB") {
  field(DESC, "Read High T Limit")
  field(DTYP, "stream")
  field(INP,  "@Neslab_rte.proto read_T_high $(PORT)")
  field(PREC, "1")
  field(EGU,  "C")
  field(ASLO, "0.1")
}

# Read proportional band
record(ai, "$(Sys)$(Dev)Gain:P-RB") {
  field(DESC, "Read PID P")
  field(DTYP, "stream")
  field(INP,  "@Neslab_rte.proto read_PID_P $(PORT)")
  field(PREC, "1")
  field(ASLO, "0.1")
}

# Read integral
record(ai, "$(Sys)$(Dev)Gain:I-RB") {
  field(DESC, "Read PID I")
  field(DTYP, "stream")
  field(INP,  "@Neslab_rte.proto read_PID_I $(PORT)")
  field(PREC, "2")
  field(ASLO, "0.01")
}

# Read derivative
record(ai, "$(Sys)$(Dev)Gain:D-RB") {
  field(DESC, "Read PID D")
  field(DTYP, "stream")
  field(INP,  "@Neslab_rte.proto read_PID_D $(PORT)")
  field(PREC, "1")
  field(ASLO, "0.1")
}

## Set
# Set control setpoint
record(ao, "$(Sys)$(Dev)T:SP-SP") {
  field(DESC, "Set Setpoint")
  field(DTYP, "stream")
  field(OUT,  "@Neslab_rte.proto set_ctrl_SP $(PORT)")
  field(PREC, "1")
  field(EGU,  "C")
  field(ASLO, "0.1")
}

# Set low temperature limit
record(ao, "$(Sys)$(Dev)T:Lo-SP") {
  field(DESC, "Set Low T Limit")
  field(DTYP, "stream")
  field(OUT,  "@Neslab_rte.proto set_T_low $(PORT)")
  field(PREC, "1")
  field(EGU,  "C")
  field(ASLO, "0.1")
}

# Set high temperature limit
record(ao, "$(Sys)$(Dev)T:Hi-SP") {
  field(DESC, "Set High T Limit")
  field(DTYP, "stream")
  field(OUT,  "@Neslab_rte.proto set_T_high $(PORT)")
  field(PREC, "1")
  field(EGU,  "C")
  field(ASLO, "0.1")
}

# Set proportional band
record(ao, "$(Sys)$(Dev)Gain:P-SP") {
  field(DESC, "Set PID P")
  field(DTYP, "stream")
  field(OUT,  "@Neslab_rte.proto set_PID_P $(PORT)")
  field(PREC, "1")
  field(DRVL, "1")
  field(DRVH, "99.9")
  field(ASLO, "0.1")
}

# Set integral
record(ao, "$(Sys)$(Dev)Gain:I-SP") {
  field(DESC, "Set PID I")
  field(DTYP, "stream")
  field(OUT,  "@Neslab_rte.proto set_PID_I $(PORT)")
  field(PREC, "2")
  field(DRVL, "0")
  field(DRVH, "9.99")
  field(ASLO, "0.01")
}

# Set derivative
record(ao, "$(Sys)$(Dev)Gain:D-SP") {
  field(DESC, "Set PID D")
  field(DTYP, "stream")
  field(OUT,  "@Neslab_rte.proto set_PID_D $(PORT)")
  field(PREC, "1")
  field(DRVL, "0")
  field(DRVH, "5.0")
  field(ASLO, "0.1")
}


