# VAT Adaptive Pressure Controller PM-5
# Huijuan 14-MAR-2019 

## Control commands
# Set operation mode
record(bo, "$(Sys)$(Dev)Mode:Opr-Cmd") {
  field(DESC, "Set Opr Mode")
  field(DTYP, "stream")
  field(OUT, "@VAT_PM5.proto set_opr_mode $(PORT)")
  field(ZNAM, "Remote")
  field(ONAM, "Local")
}

# Set valve position
record(longout, "$(Sys)$(Dev)Pos-SP") {
  field(DESC, "Set Vlv Pos")
  field(DTYP, "stream")
  field(OUT,  "@VAT_PM5.proto set_vlv_pos $(PORT)")
  field(DRVL, "0")
  field(DRVH, "1000")
}

# Zero adjust
record(bo, "$(Sys)$(Dev)Cmd:Zro-Cmd") {
  field(DESC, "Zero Adjust")
  field(DTYP, "stream")
  field(OUT,  "@VAT_PM5.proto zero_adjust $(PORT)")
}

# Learn
record(longout, "$(Sys)$(Dev)Val:Learn-SP") {
  field(DESC, "Set Learn")
  field(DTYP, "stream")
  field(OUT,  "@VAT_PM5.proto learn $(PORT)")
  field(DRVL, "0")
  field(DRVH, "1000")
}

# Set reduced positioning speed 
record(longout, "$(Sys)$(Dev)S-SP") {
  field(DESC, "Set Position Speed")
  field(DTYP, "stream")
  field(OUT,  "@VAT_PM5.proto set_speed $(PORT)")
  field(DRVL, "0")
  field(DRVH, "1000")
}

# Interlock front panel keys
record(bo, "$(Sys)$(Dev)Cmd:Intlk-Cmd") {
  field(DESC, "Intlk L/R")
  field(DTYP, "stream")
  field(OUT,  "@VAT_PM5.proto set_intlk $(PORT)")
  field(ZNAM, "Interlock")
  field(ONAM, "Release")
}

# Enable/Disable logic input
record(bo, "$(Sys)$(Dev)Enbl:LogicIn-Cmd") {
  field(DESC, "Enable/Disable Logic Input")
  field(DTYP, "stream")
  field(OUT,  "@VAT_PM5.proto enbl_logic_in $(PORT)")
  field(ZNAM, "Disable")
  field(ONAM, "Enable")
}

## Inquiry commands
# Actual valve position
record(longin, "$(Sys)$(Dev)Pos-I") {
  field(DESC, "Get Actual Vlv Pos")
  field(DTYP, "stream")
  field(INP,  "@VAT_PM5.proto get_vlv_pos $(PORT)")
  field(SCAN, ".2 second")
  field(FLNK, "$(Sys)$(Dev)Err:Pos-Sts")
}

# Operating mode
record(mbbi, "$(Sys)$(Dev)Mode:Opr-Sts") {
  field(DESC, "Get Operate Moe")
  field(DTYP, "stream")
  field(INP,  "@VAT_PM5.proto get_opr_mode $(PORT)")
  field(ZRST, "LOCAL")
  field(ONST, "REMOTE")
  field(TWST, "LOCKED")
}

# Self test 
record(mbbi, "$(Sys)$(Dev)Sts:SelfTst-Sts") {
  field(DESC, "Self Test")
  field(DTYP, "stream")
  field(INP,  "@VAT_PM5.proto get_self_test $(PORT)")
  field(ZRST, "Memory OK")
  field(ONST, "Parameter Err")
  field(TWST, "EPROM Err") 
}

# Valve cycle counter
record(longin, "$(Sys)$(Dev)Cnt:Cycle-I") {
  field(DESC, "Get Vlv Cycle Cnt")
  field(DTYP, "stream")
  field(INP,  "@VAT_PM5.proto get_vlv_cnt $(PORT)")
#  field(FLNK, "$(Sys)$(Dev)Err:Pos-Sts")
}

# Set counter to zero
record(bo, "$(Sys)$(Dev)Cnt:Zero-Cmd") {
  field(DESC, "Zero Counter")
  field(DTYP, "stream")
  field(OUT,  "@VAT_PM5.proto set_cnt_zero $(PORT)")
}

# Software version
record(stringin, "$(Sys)$(Dev)Ver:Soft-I") {
  field(DESC, "Get Software Version")
  field(DTYP, "stream")
  field(INP,  "@VAT_PM5.proto get_soft_version $(PORT)")
  field(PINI, "1")
}

# Position status
record(bi, "$(Sys)$(Dev)Err:Pos-Sts") {
  field(DESC, "Get Pos Err Sts")
  field(DTYP, "stream")
  field(INP,  "@VAT_PM5.proto get_pos_err_sts $(PORT)")
  field(ZNAM, "OK")
  field(ONAM, "Error")
}

record(fanout, "$(Sys)$(Dev)FOut")
{
  field(SELM, "All")
  field(LNK1, "$(Sys)$(Dev)Mode:Opr-Sts")
  field(LNK2, "$(Sys)$(Dev)Sts:SelfTst-Sts")
  field(LNK3, "$(Sys)$(Dev)Cnt:Cycle-I")
  field(SCAN, "1 second")
}
