# BK Precision 1787B Single Output Programmable DC Power Supply 
#
# Huijuan 25-MAR-2019

# Set communication mode
record(bo, "$(Sys)$(Dev)Mode:Opr-Sel") {
  field(DESC, "Set Opr Mode")
  field(DTYP, "stream")
  field(OUT,  "@bk_1787b.proto set_opr_mode() $(PORT)")
  field(ZNAM, "Local")
  field(ONAM, "Remote")
}

record(bo, "$(Sys)$(Dev)Test") {
  field(DESC, "Set Comm Mode")
  field(DTYP, "stream")
  field(OUT,  "@bk_1787b.proto test $(PORT)")
}

# Set the output state
record(bo, "$(Sys)$(Dev)Cmd:Out-Cmd") {
  field(DESC, "Set Output")
  field(DTYP, "stream")
  field(OUT,  "@bk_1787b.proto set_output $(PORT)")
  field(ZNAM, "OFF")
  field(ONAM, "ON")
}

# Set the max output voltage
record(ao, "$(Sys)$(Dev)E:MaxOut-SP") {
  field(DESC, "Set Max Output E")
  field(DTYP, "stream")
  field(OUT,  "@bk_1787b.proto set_max_out_E $(PORT)")
  field(EGU,  "V")
  field(ASLO, "0.001")
  field(DRVL, "0")
  field(DRVH, "72")
}

# Set the output voltage
record(ao, "$(Sys)$(Dev)E:Out-SP") {
  field(DESC, "Set Output E")
  field(DTYP, "stream")
  field(OUT,  "@bk_1787b.proto set_out_E $(PORT)")
  field(EGU,  "V")
  field(ASLO, "0.001")
  field(DRVL, "0")
  field(DRVH, "72")
}

# Set the output current
record(ao, "$(Sys)$(Dev)I:Out-SP") {
  field(DESC, "Set Output I")
  field(DTYP, "stream")
  field(OUT,  "@bk_1787b.proto set_out_I $(PORT)")
  field(EGU,  "A")
  field(ASLO, "0.001")
  field(DRVL, "0")
  field(DRVH, "1.5")
}

# Read all information
record(ai, "$(Sys)$(Dev)I-I") {
  field(DESC, "Get Current I")
  field(DTYP, "stream")
  field(INP,  "@bk_1787b.proto get_all_info($(Sys)$(Dev)) $(PORT)")
  field(EGU,  "A")
  field(ASLO, "0.001")
  field(LINR, "LINEAR")
  field(SCAN, "1 second")
  field(PREC, "3")
}

record(ai, "$(Sys)$(Dev)E-I") {
  field(DESC, "Get Current E")
  field(DTYP, "Raw Soft Channel")
  field(EGU,  "V")
  field(PREC, "3")
  field(ASLO, "0.001")
#  field(LINR, "LINEAR")
}

record(mbbiDirect, "$(Sys)$(Dev)Sts") {
  field(DESC, "PS All Sts")
  field(FLNK, "$(Sys)$(Dev)Sts-FOut_")
}

record(fanout, "$(Sys)$(Dev)Sts-FOut_") {
  field(DESC, "PS Stat FOut")
  field(LNK1, "$(Sys)$(Dev)Sts:Out-Sts")
  field(LNK2, "$(Sys)$(Dev)Sts:OverT-Sts")
  field(LNK3, "$(Sys)$(Dev)Mode:Out-Calc")
  field(LNK4, "$(Sys)$(Dev)S:Fan-Calc")
  field(LNK5, "$(Sys)$(Dev)Mode:Opr-Sts")
}

record(ai, "$(Sys)$(Dev)I:Out-RB") {
  field(DESC, "Get Out I")
  field(DTYP, "Raw Soft Channel")
  field(EGU,  "A")
  field(ASLO, "0.001")
  field(PREC, "3")
}

record(ai, "$(Sys)$(Dev)E:MaxOut-RB") {
  field(DESC, "Get Max E")
  field(DTYP, "Raw Soft Channel")
  field(EGU,  "V")
  field(ASLO, "0.001")
  field(PREC, "3")
}

record(ai, "$(Sys)$(Dev)E:Out-RB") {
  field(DESC, "Get E Out")
  field(DTYP, "Raw Soft Channel")
  field(EGU,  "V")
  field(ASLO, "0.001")
  field(PREC, "3")
}

# Set the calibration mode
#record(bo, "$(Sys)$(Dev)Enbl:Cal-Sel") {
#  field(DESC, "Set Cal Prot Mode")
#  field(DTYP, "stream")
#  field(OUT,  "@bk_1787b.proto set_cal_mode $(PORT)")
#  field(ZNAM, "Disable Prot")
#  field(ONAM, "Enbl Prot")
#}

# Get the calibration state
#record(bi, "$(Sys)$(Dev)Enbl:Cal-Sts") {
#  field(DESC, "Get Cal Stat")
#  field(DTYP, "stream")
#  field(INP,  "@bk_1787b.proto get_cal_stat $(PORT)")
#  field(ZNAM, "Disable Prot")
#  field(ONAM, "Enbl Prot")
#  field(PINI, "1")
#}

# Power supply status
record(bi, "$(Sys)$(Dev)Sts:Out-Sts")
{
  field(DESC, "Get Output Sts")
  field(INP,  "$(Sys)$(Dev)Sts.B0")
  field(ZNAM, "OFF")
  field(ONAM, "ON")
}

# Overheat protection
record(bi, "$(Sys)$(Dev)Sts:OverT-Sts")
{
  field(DESC, "Get OverT Sts")
  field(INP,  "$(Sys)$(Dev)Sts.B1")
  field(ZNAM, "Normal")
  field(ONAM, "Abnormal")
}

# Output mode
record(calcout, "$(Sys)$(Dev)Mode:Out-Calc")
{
  field(DESC, "Get Out Mode")
  field(INPA, "$(Sys)$(Dev)Sts.B2")
  field(INPB, "$(Sys)$(Dev)Sts.B3")
  field(CALC, "A+B")
  field(OUT,  "$(Sys)$(Dev)Mode:Out-Sts PP")
}

record(mbbi, "$(Sys)$(Dev)Mode:Out-Sts")
{
  field(DESC, "Output Mode Sts")
  field(ZRST, "None")
  field(ONST, "CV")
  field(TWST, "CC")
  field(THST, "Unreg")
}

# Fan speed
record(calcout, "$(Sys)$(Dev)S:Fan-Calc")
{
  field(DESC, "Fen Speed")
  field(INPA, "$(Sys)$(Dev)Sts.B4")
  field(INPB, "$(Sys)$(Dev)Sts.B5")
  field(INPC, "$(Sys)$(Dev)Sts.B6")
  field(CALC, "A+B+C")
  field(OUT,  "$(Sys)$(Dev)S:Fan-I PP")
}

record(longin, "$(Sys)$(Dev)S:Fan-I")
{
  field(DESC, "Fan Speed")
}

# Operation State
record(bi, "$(Sys)$(Dev)Mode:Opr-Sts")
{
  field(DESC, "Get Opr Sts")
  field(INP,  "$(Sys)$(Dev)Sts.B7")
  field(ZNAM, "Local")
  field(ONAM, "Remote")
}

